*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: blueviolet;
    color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}
.header-title{
    text-align: center;
    font-size: 20px;
    margin: 1.25rem;
}

div{
    width: 8rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    border: 1px solid ;
    margin: .3rem;
}
.number-table{
    background-color: rgb(228, 13, 236);
}
.bg-light-b{
    background-color: rgb(20, 236, 171);
}
.bg-yellow{
    background-color: rgb(236, 187, 40);
}
.bg-green{
    background-color: greenyellow;
}

